.code-load {
 
}
.codeload-row {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
}

.codeload-elem {
  text-transform: uppercase;
}

.codeload-elem:last-of-type {
  text-align: right;
}

.codeload-scroll {
  width: 100%;
  height: 1000px;
}