.draggable-wrap {
  position: relative;
  height: 400px;
  background: red;
  z-index: 999;
}

/* move this styles to js file ??? */
.draggable {
  z-index: 999;
}

.draggable-body-one,
.draggable-body-two {
  position: absolute;
}

.draggable-body-one {
  top: 16%;
  left: 15%;
}

.draggable-body-two {
  top: 48%;
  left: 35%;
}

.draggable-transform-one,
.draggable-transform-two {
  cursor: grab;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable-transform-one {
  transform: rotate(-13deg);
  width: 240px;
  height: 160px;
}

.draggable-transform-two {
  transform: rotate(10deg);
  width: 200px;
  height: 120px;
}
