.shuffle-chars {
 
}
.shuffle-chars-row {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
}

.shuffle-chars-elem {
  text-transform: uppercase;
}

.shuffle-chars-elem:last-of-type {
  text-align: right;
}

.shuffle-chars-scroll {
  width: 100%;
  height: 1000px;
}